body {
  background-color: white;
  font-family: "Lato", sans-serif;
}

.weather-app {
  background-color: #fff0db;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

header {
  padding: 0 0 30px 0;
}

.country {
  font-size: 25px;
}

.time {
  font-size: 15px;
  opacity: 70%;
}

.temperature {
  padding-bottom: 0%;
}

.conditions {
  font-style: italic;
  font-size: 15px;
  opacity: 70%;
}

.search-field {
  background-color: white;
  border: lightslategray;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  width: 40%;
  font-size: 12px;
}

.submit-btn {
  background-color: #1c4b82;
  opacity: 95%;
  border: lightslategray;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  margin-left: 6px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 10px;
  font-family: monospace;
  opacity: 60%;
}
